html{
    height: 100vh;
}
body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: auto;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.restartbutton{
  margin: 120px;
}